<h1>CREATE TASK</h1>

 <form>
  <label for="fname">Task Name</label><br>
  <input type="text" id="fname" name="fname" placeholder="'Vaccuum clean'"><br>
</form>


<%= link_to "READY!", setup_path, class:"nes-btn is-success" %>
