<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-lg">
    <%= link_to setup_path, class: "navbar-brand" do %>
      <%= image_tag "https://user-images.githubusercontent.com/95690676/156573934-ede6afc4-9237-478e-abf1-45e9acf66e3d.png", class:"logo-small" %>
    <% end %>
    <%= link_to dashboard_path do %>
    <%= image_tag "https://res.cloudinary.com/psmkr/image/upload/v1646654302/images%20for%20tidytally/6fe683d1b0c6d53cef3f4377e3a3f520_hsi6iz.jpg", class: "avatar" %>
    <% end %>
  </div>
</div>
