<h1>DASHBOARD</h1>
<hr>
<h2>Tasks</h2>
<div class="d-flex flex-wrap align-content-center">
<%sorted_tasks = @user.tasks.sort_by {|task| task.date} %>
<% sorted_tasks.each do |task|  %>
<div class="p-3 dashed-border">
<%= Date.parse("#{task.date}").strftime('%A') + ": " + task.room.name%>
<div>
<%= task.name %>
</div>
</div>
<% end %>
