<h1>TASKS</h1>
<hr>
<div class="d-flex flex-wrap align-content-center">
  <% @tasks.each do |task|  %>
  <% room = task.room %>
  <div class="p-3 m-2 dashed-border">
    <%= Date.parse("#{task.date}").strftime('%A') + ": " + task.room.name%>
    <%= link_to task.name, edit_room_task_path(room, task) %>
    <% if task.completed %>
      <i class="nes-icon is-medium star"></i>
    <% end %>
</div>
<% end %>
