<h1>INVITE PLAYER</h1>
<div class="d-flex justify-content-center">
 <form class="form-inputs">
  <label for="fname"></label><br>
  <input type="text" id="fname" name="fname" class="form-control" placeholder="email@domain.com"><br>
</form>
</div>


<%= link_to "READY!", setup_path, class:"nes-btn is-success" %>
