<h1>CHOOSE AN AVATAR</h1>
<div class="d-flex justify-content-center">

    <div class="row m-2">
    <div class="card-room" >
      <img src="https://res.cloudinary.com/psmkr/image/upload/v1646666038/images%20for%20tidytally/22931329_tr6ors_rv1irq.png" class="object-fit" alt="">
    </div>
  </div>

      <div class="row m-2">
    <div class="card-room" >
      <img src="https://res.cloudinary.com/psmkr/image/upload/v1646666038/images%20for%20tidytally/22931327_nxahxf_dkpt6r.png" class="object-fit" alt="">
    </div>
  </div>

      <div class="row m-2">
    <div class="card-room" >
      <img src="https://res.cloudinary.com/psmkr/image/upload/v1646666038/images%20for%20tidytally/22931331_yun8ep_dgfdah.png" class="object-fit" alt="">
    </div>
  </div>

      <div class="row m-2">
    <div class="card-room" >
      <img src="https://res.cloudinary.com/psmkr/image/upload/v1646666038/images%20for%20tidytally/22763658_uxa3ua_mgxjvi.png" class="object-fit" alt="">
    </div>
  </div>

      <div class="row m-2">
    <div class="card-room" >
      <img src="https://res.cloudinary.com/psmkr/image/upload/v1646666038/images%20for%20tidytally/22763674_vntt2y_m4c475.png" class="object-fit" alt="">
    </div>
  </div>

      <div class="row m-2">
    <div class="card-room" >
      <img src="https://res.cloudinary.com/psmkr/image/upload/v1646666037/images%20for%20tidytally/22931332_d7uv0e_sgmkzh.png" class="object-fit" alt="">
    </div>
  </div>

      <div class="row m-2">
    <div class="card-room" >
      <img src="https://res.cloudinary.com/psmkr/image/upload/v1646666037/images%20for%20tidytally/22866833_plkidy_f7or9f.png" class="object-fit" alt="">
    </div>
  </div>

      <div class="row m-2">
    <div class="card-room" >
      <img src="https://res.cloudinary.com/psmkr/image/upload/v1646666037/images%20for%20tidytally/21810996_olr9nh_ztxpem.png" class="object-fit" alt="">
    </div>
  </div>

      <div class="row m-2">
    <div class="card-room" >
      <img src="https://res.cloudinary.com/psmkr/image/upload/v1646654303/images%20for%20tidytally/18f47c59a384294c1ce956e1311cc572_lpay5v.png" class="object-fit" alt="">
    </div>
  </div>
