<h1>Add roommate</h1>

 <form class="form-inputs">
  <label for="fname">email adress</label><br>
  <input type="text" id="fname" name="fname" class="form-control"><br>
</form>


<%= link_to "Add!", setup_path, class:"nes-btn is-success" %>
