<h1>INVITE PLAYER</h1>
<div class="d-flex justify-content-center">
 <form class="form-inputs">
  <label for="fname"></label><br>
  <input type="text" id="fname" name="fname" class="form-control" placeholder="email@domain.com"><br>
</form>
</div>

<img src="https://res.cloudinary.com/psmkr/image/upload/v1646673253/images%20for%20tidytally/1541386_wkpxib.png" class="roommate-add">
<%= link_to "READY!", setup_path, class:"nes-btn is-success" %>
