<div class="d-flex justify-content-center">
  <div class="row row-cols-1">
    <div class="col">
      <%= link_to "Add a room", new_room_path %>
    </div>
    <div class="col">
      <%= link_to "Add a flatmate",  roommate_path%>
    </div>
    <div class="col">
      <%= link_to "Show rooms", rooms_path %>
    </div>
  </div>
</div>
