<div class="container">
  <h1 class="mt-3">Your Home </h1>
    <div class="d-flex justify-content-around flex-wrap">
      <% if @household %>
        <% @household.rooms.each do |room| %>
          <%= link_to_room_path(room , name: room.name, household: @household), class: "mt-4", method: :get do %>
            <div class="card-room card-fix" >
                <% if room.name.downcase == "kitchen" %>
                  <img src="https://res.cloudinary.com/psmkr/image/upload/v1646654306/images%20for%20tidytally/23730662_llpktg.png" class="object-fit" alt="">
                <% elsif room.name.downcase == "bathroom" %>
                  <img src="https://res.cloudinary.com/psmkr/image/upload/v1646654306/images%20for%20tidytally/23730661_lhm7mv.png" class="object-fit" alt="">
                <% elsif room.name.downcase == "lounge" %>
                  <img src="https://res.cloudinary.com/psmkr/image/upload/v1646654307/images%20for%20tidytally/23730664_favxi7.png" class="object-fit" alt="">
                <% elsif room.name.downcase == "office" %>
                  <img src="https://res.cloudinary.com/psmkr/image/upload/v1646654307/images%20for%20tidytally/23730663_dfhkz3.png" class="object-fit" alt="">
              <% end %>
            </div>
          <h5 class="text-center mt-3" ><%= room.name %></h5>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
