<div class="container">

<div class="cards">
  <% current_user.household.rooms.each do |room| %>
  <div class="row m-2">
    <div class="card-room" >
    <%=room.name %>
    </div>
    </div>
    <% end %>
    <div class="row m-2">
    <div class="card-room">
    <%= "empty" %>
    </div>
    </div>
</div>
