<h1>
<%= @room.name.upcase %>
</h1>


<h2>Tasks</h2>
<li>
  <% @tasks.each do |task| %>
    <ul>
      <%= task.name %>
    </ul>
    <% end %>
</li>


<h2><%= link_to "Add a Task", new_room_task_path(@room), class: "nes-btn is-success" %></h2>
