.card-room {
  // overflow: hidden;
  height: 130px;
  width: 130px;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed white;
  border-radius: 10px;
}

.object-fit {
  object-fit: cover !important;
  height: 130px;
  width: 130px;
}

h5 {
  align-content: left;
}
