.logo {
  background-image: url("/home/ludwig/code/LKirschning/tidytally/tidytally/app/assets/images/logo.png");
  width: 300px;
  height: 100px;
  text-align: center;
  color:white;
  font-size: larger;
  padding-top: 24px;
}
