<h1>INVITE PLAYER</h1>
<div class="d-flex justify-content-center">
<%= simple_form_for(@household, method: :patch, url: household_path) do |f|%>
  <%= simple_fields_for :other do |o| %>
    <%= o.input :emails, label: false, placeholder: "email@domain.com" %>
  <% end %>
  </div>
<%= f.submit "READY!", class: "nes-btn is-success" %>
<% end %>
